CB_CONN_STR=couchbases://cb.<your-cluster>.cloud.couchbase.com
CB_USERNAME=<username>
CB_PASSWORD=<password>
CB_BUCKET=chamberlain

CAPELLA_API_KEY=<capella-api-key>
CAPELLA_API_SECRET=<capella-api-secret>

OPENAI_API_KEY=<openai-api-key>
